/* CSS Reset 
	 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, 
nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Global */
html {
	background-color: #0B152CFF;
	color: white;
	font-family: Mukta Vaani;
}

.title{
	font-size: 2.4em;
	font-weight: bold;
}

/*Container*/
.coinContainer{
	position: relative;
	background: rgb(61,28,90);
	background: -webkit-linear-gradient(328deg, rgba(61,28,90,1) 0%, rgba(56,41,96,1) 13%, rgba(0,50,56,1) 37%, rgba(0,42,77,1) 59%, rgba(38,86,121,1) 86%, rgba(34,97,127,1) 100%);
	background: -o-linear-gradient(328deg, rgba(61,28,90,1) 0%, rgba(56,41,96,1) 13%, rgba(0,50,56,1) 37%, rgba(0,42,77,1) 59%, rgba(38,86,121,1) 86%, rgba(34,97,127,1) 100%);
	background: linear-gradient(58deg, rgba(61,28,90,1) 0%, rgba(56,41,96,1) 13%, rgba(0,50,56,1) 37%, rgba(0,42,77,1) 59%, rgba(38,86,121,1) 86%, rgba(34,97,127,1) 100%);
	border-radius: 15px;
	margin: 0 auto;
	padding: 0 1.6em 1.6em 1.6em;
	width: 85vw;
}